/* Variables */
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$special-font-family: 'Alegreya', serif;

$base-color: #fff; //white
$alt-color: #000; //black

$highlight-color1: #81F79F;  //light green
$highlight-color2: #A9F5F2;	//light blue
$highlight-color3: #ffff00;	//yellow
$highlight-color4: #d4008c;	//dark pink
$highlight-color5: #F6CEEC;	//light pink

$base-bgcolor: #5C5858;	//dark grey
$alt-bgcolor: #BDBDBD;	//light grey

